
<h1>Enter a word or sentence and I will tell you the Scrabble score!</h1>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="words">Word:</label>
    <input id="words" name="words" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit Word</button>
</form>
